/* You can add global styles to this file, and also import other style files */
.heading{
    position: relative;
    margin-left: 32rem;
    text-decoration: underline;
}
.buttonStyle{
    float: right;
}
body{
    background-color: teal;
}
.tableStyle{
    width: 700px;
    position: relative;
    left: 21rem;
    top:3rem;
}
